In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
from scipy.stats import shapiro

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

In [67]:
df = pd.read_csv('cont_bcn_eixample_18_23_ML.csv')

df

,year,month,day,CO,NO,NO2,O3,PM10,SO2,season_spring,season_summer,season_winter
0,2018,1,1,0.21,10.71,21.25,55.21,16.62,1.00,0,0,1
1,2018,1,2,0.36,20.00,37.42,36.79,16.17,2.00,0,0,1
2,2018,1,3,0.34,17.58,24.04,36.62,15.67,2.04,0,0,1
3,2018,1,4,0.31,15.92,26.96,32.33,17.12,1.96,0,0,1
4,2018,1,5,0.34,21.27,43.50,25.50,12.45,1.68,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2024,2023,12,16,0.37,17.54,45.58,24.33,23.25,3.38,0,0,0
2025,2023,12,17,0.44,21.88,52.92,16.25,25.92,4.38,0,0,0
2026,2023,12,18,1.00,94.96,83.00,4.12,55.17,8.04,0,0,0
2027,2023,12,19,1.04,99.12,69.42,12.38,53.08,8.29,0,0,0
2028,2023,12,20,0.62,34.62,47.75,15.08,45.50,7.75,0,0,0

In [72]:
df_prec = pd.read_csv('precipitacionsbarcelonadesde1786.csv')

df_prec

,Any,Precip_Acum_Gener,Precip_Acum_Febrer,Precip_Acum_Marc,Precip_Acum_Abril,Precip_Acum_Maig,Precip_Acum_Juny,Precip_Acum_Juliol,Precip_Acum_Agost,Precip_Acum_Setembre,Precip_Acum_Octubre,Precip_Acum_Novembre,Precip_Acum_Desembre
0,1786,32.8,28.4,84.4,42.3,8.5,38.0,6.8,52.1,62.0,57.0,195.8,114.1
1,1787,136.4,27.4,44.6,76.9,0.0,29.8,34.7,14.9,205.8,12.4,42.2,0.0
2,1788,9.9,14.9,32.2,12.4,7.5,146.3,59.4,29.8,123.9,163.6,106.6,22.3
3,1789,12.4,12.4,23.6,9.9,32.2,9.9,6.3,69.4,18.7,52.1,18.7,76.9
4,1790,44.6,1.2,188.5,74.4,44.7,39.7,65.7,32.3,71.9,205.8,72.0,14.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,2018,63.6,104.6,112.5,83.0,30.3,53.1,51.5,36.5,44.4,201.9,201.8,4.8
233,2019,18.2,4.6,0.3,36.2,109.0,19.3,75.8,23.1,71.5,83.2,39.4,119.2
234,2020,89.3,2.8,61.6,258.7,29.2,69.1,23.1,12.4,60.2,23.1,52.5,41.5
235,2021,26.2,26.5,7.7,62.7,13.4,7.8,9.0,8.3,23.3,63.2,75.9,3.8
236,2022,12.3,1.9,89.5,38.9,20.0,9.5,2.7,67.9,13.1,11.3,7.6,33.0

In [73]:
df_prec = df_prec.loc[df_prec['Any'] > 2017]

In [74]:
df_prec = df_prec.reset_index(drop=True)

df_prec

,Any,Precip_Acum_Gener,Precip_Acum_Febrer,Precip_Acum_Marc,Precip_Acum_Abril,Precip_Acum_Maig,Precip_Acum_Juny,Precip_Acum_Juliol,Precip_Acum_Agost,Precip_Acum_Setembre,Precip_Acum_Octubre,Precip_Acum_Novembre,Precip_Acum_Desembre
0,2018,63.6,104.6,112.5,83.0,30.3,53.1,51.5,36.5,44.4,201.9,201.8,4.8
1,2019,18.2,4.6,0.3,36.2,109.0,19.3,75.8,23.1,71.5,83.2,39.4,119.2
2,2020,89.3,2.8,61.6,258.7,29.2,69.1,23.1,12.4,60.2,23.1,52.5,41.5
3,2021,26.2,26.5,7.7,62.7,13.4,7.8,9.0,8.3,23.3,63.2,75.9,3.8
4,2022,12.3,1.9,89.5,38.9,20.0,9.5,2.7,67.9,13.1,11.3,7.6,33.0

In [75]:
df_prec = pd.melt(df_prec, id_vars=['Any'], var_name='Tipo_Precipitacion', value_name='Precipitacion_Acumulada')
df_prec

     Any    Tipo_Precipitacion  Precipitacion_Acumulada
0   2018     Precip_Acum_Gener                     63.6
1   2019     Precip_Acum_Gener                     18.2
2   2020     Precip_Acum_Gener                     89.3
3   2021     Precip_Acum_Gener                     26.2
4   2022     Precip_Acum_Gener                     12.3
5   2018    Precip_Acum_Febrer                    104.6
6   2019    Precip_Acum_Febrer                      4.6
7   2020    Precip_Acum_Febrer                      2.8
8   2021    Precip_Acum_Febrer                     26.5
9   2022    Precip_Acum_Febrer                      1.9
10  2018      Precip_Acum_Marc                    112.5
11  2019      Precip_Acum_Marc                      0.3
12  2020      Precip_Acum_Marc                     61.6
13  2021      Precip_Acum_Marc                      7.7
14  2022      Precip_Acum_Marc                     89.5
15  2018     Precip_Acum_Abril                     83.0
16  2019     Precip_Acum_Abril                     36.2
17  2020     Precip_Acum_Abril                    258.7
18  2021     Precip_Acum_Abril                     62.7
19  2022     Precip_Acum_Abril                     38.9
20  2018      Precip_Acum_Maig                     30.3
21  2019      Precip_Acum_Maig                    109.0
22  2020      Precip_Acum_Maig                     29.2
23  2021      Precip_Acum_Maig                     13.4
24  2022      Precip_Acum_Maig                     20.0
25  2018      Precip_Acum_Juny                     53.1
26  2019      Precip_Acum_Juny                     19.3
27  2020      Precip_Acum_Juny                     69.1
28  2021      Precip_Acum_Juny                      7.8
29  2022      Precip_Acum_Juny                      9.5
30  2018    Precip_Acum_Juliol                     51.5
31  2019    Precip_Acum_Juliol                     75.8
32  2020    Precip_Acum_Juliol                     23.1
33  2021    Precip_Acum_Juliol                      9.0
34  2022    Precip_Acum_Juliol                      2.7
35  2018     Precip_Acum_Agost                     36.5
36  2019     Precip_Acum_Agost                     23.1
37  2020     Precip_Acum_Agost                     12.4
38  2021     Precip_Acum_Agost                      8.3
39  2022     Precip_Acum_Agost                     67.9
40  2018  Precip_Acum_Setembre                     44.4
41  2019  Precip_Acum_Setembre                     71.5
42  2020  Precip_Acum_Setembre                     60.2
43  2021  Precip_Acum_Setembre                     23.3
44  2022  Precip_Acum_Setembre                     13.1
45  2018   Precip_Acum_Octubre                    201.9
46  2019   Precip_Acum_Octubre                     83.2
47  2020   Precip_Acum_Octubre                     23.1
48  2021   Precip_Acum_Octubre                     63.2
49  2022   Precip_Acum_Octubre                     11.3
50  2018  Precip_Acum_Novembre                    201.8
51  2019  Precip_Acum_Novembre                     39.4
52  2020  Precip_Acum_Novembre                     52.5
53  2021  Precip_Acum_Novembre                     75.9
54  2022  Precip_Acum_Novembre                      7.6
55  2018  Precip_Acum_Desembre                      4.8
56  2019  Precip_Acum_Desembre                    119.2
57  2020  Precip_Acum_Desembre                     41.5
58  2021  Precip_Acum_Desembre                      3.8
59  2022  Precip_Acum_Desembre                     33.0

In [76]:
df_prec = df_prec.sort_values(by='Any')
df_prec = df_prec.reset_index(drop=True)
df_prec.head(10)

    Any    Tipo_Precipitacion  Precipitacion_Acumulada
0  2018     Precip_Acum_Gener                     63.6
1  2018  Precip_Acum_Setembre                     44.4
2  2018      Precip_Acum_Maig                     30.3
3  2018    Precip_Acum_Juliol                     51.5
4  2018     Precip_Acum_Abril                     83.0
5  2018  Precip_Acum_Desembre                      4.8
6  2018      Precip_Acum_Juny                     53.1
7  2018      Precip_Acum_Marc                    112.5
8  2018  Precip_Acum_Novembre                    201.8
9  2018     Precip_Acum_Agost                     36.5

In [79]:
tipo_precipitacion_mapping = {
    'Precip_Acum_Gener': 1,
    'Precip_Acum_Febrer': 2,
    'Precip_Acum_Marc': 3,
    'Precip_Acum_Abril': 4,
    'Precip_Acum_Maig': 5,
    'Precip_Acum_Juny': 6,
    'Precip_Acum_Juliol': 7,
    'Precip_Acum_Agost': 8,
    'Precip_Acum_Setembre': 9,
    'Precip_Acum_Octubre': 10,
    'Precip_Acum_Novembre': 11,
    'Precip_Acum_Desembre': 12
}

df_prec['Mes'] = df_prec['Tipo_Precipitacion'].map(tipo_precipitacion_mapping)
df_prec.head(10)

     Any    Tipo_Precipitacion  Precipitacion_Acumulada  Mes
0   2018     Precip_Acum_Gener                     63.6    1
10  2018    Precip_Acum_Febrer                    104.6    2
7   2018      Precip_Acum_Marc                    112.5    3
4   2018     Precip_Acum_Abril                     83.0    4
2   2018      Precip_Acum_Maig                     30.3    5
6   2018      Precip_Acum_Juny                     53.1    6
3   2018    Precip_Acum_Juliol                     51.5    7
9   2018     Precip_Acum_Agost                     36.5    8
1   2018  Precip_Acum_Setembre                     44.4    9
11  2018   Precip_Acum_Octubre                    201.9   10

In [80]:
df_prec = df_prec.sort_values(by=['Any', 'Mes'])

df_prec

     Any    Tipo_Precipitacion  Precipitacion_Acumulada  Mes
0   2018     Precip_Acum_Gener                     63.6    1
10  2018    Precip_Acum_Febrer                    104.6    2
7   2018      Precip_Acum_Marc                    112.5    3
4   2018     Precip_Acum_Abril                     83.0    4
2   2018      Precip_Acum_Maig                     30.3    5
6   2018      Precip_Acum_Juny                     53.1    6
3   2018    Precip_Acum_Juliol                     51.5    7
9   2018     Precip_Acum_Agost                     36.5    8
1   2018  Precip_Acum_Setembre                     44.4    9
11  2018   Precip_Acum_Octubre                    201.9   10
8   2018  Precip_Acum_Novembre                    201.8   11
5   2018  Precip_Acum_Desembre                      4.8   12
14  2019     Precip_Acum_Gener                     18.2    1
19  2019    Precip_Acum_Febrer                      4.6    2
21  2019      Precip_Acum_Marc                      0.3    3
22  2019     Precip_Acum_Abril                     36.2    4
15  2019      Precip_Acum_Maig                    109.0    5
23  2019      Precip_Acum_Juny                     19.3    6
20  2019    Precip_Acum_Juliol                     75.8    7
17  2019     Precip_Acum_Agost                     23.1    8
13  2019  Precip_Acum_Setembre                     71.5    9
18  2019   Precip_Acum_Octubre                     83.2   10
16  2019  Precip_Acum_Novembre                     39.4   11
12  2019  Precip_Acum_Desembre                    119.2   12
34  2020     Precip_Acum_Gener                     89.3    1
32  2020    Precip_Acum_Febrer                      2.8    2
31  2020      Precip_Acum_Marc                     61.6    3
30  2020     Precip_Acum_Abril                    258.7    4
28  2020      Precip_Acum_Maig                     29.2    5
26  2020      Precip_Acum_Juny                     69.1    6
25  2020    Precip_Acum_Juliol                     23.1    7
27  2020     Precip_Acum_Agost                     12.4    8
29  2020  Precip_Acum_Setembre                     60.2    9
35  2020   Precip_Acum_Octubre                     23.1   10
24  2020  Precip_Acum_Novembre                     52.5   11
33  2020  Precip_Acum_Desembre                     41.5   12
45  2021     Precip_Acum_Gener                     26.2    1
44  2021    Precip_Acum_Febrer                     26.5    2
43  2021      Precip_Acum_Marc                      7.7    3
42  2021     Precip_Acum_Abril                     62.7    4
41  2021      Precip_Acum_Maig                     13.4    5
40  2021      Precip_Acum_Juny                      7.8    6
46  2021    Precip_Acum_Juliol                      9.0    7
36  2021     Precip_Acum_Agost                      8.3    8
37  2021  Precip_Acum_Setembre                     23.3    9
47  2021   Precip_Acum_Octubre                     63.2   10
38  2021  Precip_Acum_Novembre                     75.9   11
39  2021  Precip_Acum_Desembre                      3.8   12
57  2022     Precip_Acum_Gener                     12.3    1
56  2022    Precip_Acum_Febrer                      1.9    2
55  2022      Precip_Acum_Marc                     89.5    3
54  2022     Precip_Acum_Abril                     38.9    4
53  2022      Precip_Acum_Maig                     20.0    5
49  2022      Precip_Acum_Juny                      9.5    6
52  2022    Precip_Acum_Juliol                      2.7    7
51  2022     Precip_Acum_Agost                     67.9    8
50  2022  Precip_Acum_Setembre                     13.1    9
58  2022   Precip_Acum_Octubre                     11.3   10
48  2022  Precip_Acum_Novembre                      7.6   11
59  2022  Precip_Acum_Desembre                     33.0   12

In [81]:
df_prec = df_prec.drop(columns='Tipo_Precipitacion')

df_prec.head(10)

     Any  Precipitacion_Acumulada  Mes
0   2018                     63.6    1
10  2018                    104.6    2
7   2018                    112.5    3
4   2018                     83.0    4
2   2018                     30.3    5
6   2018                     53.1    6
3   2018                     51.5    7
9   2018                     36.5    8
1   2018                     44.4    9
11  2018                    201.9   10

In [82]:
df_prec = df_prec.reset_index(drop=True)
df_prec.head(10)

    Any  Precipitacion_Acumulada  Mes
0  2018                     63.6    1
1  2018                    104.6    2
2  2018                    112.5    3
3  2018                     83.0    4
4  2018                     30.3    5
5  2018                     53.1    6
6  2018                     51.5    7
7  2018                     36.5    8
8  2018                     44.4    9
9  2018                    201.9   10

In [84]:
df_prec['Precip_acum'] = df_prec['Precipitacion_Acumulada']
df_prec = df_prec[['Any', 'Mes', 'Precip_acum']]
df_prec.head(5)

    Any  Mes  Precip_acum
0  2018    1         63.6
1  2018    2        104.6
2  2018    3        112.5
3  2018    4         83.0
4  2018    5         30.3

In [85]:
df_temp = pd.read_csv('temperaturesbarcelonadesde1780.csv')

df_temp

,Any,Temp_Mitjana_Gener,Temp_Mitjana_Febrer,Temp_Mitjana_Marc,Temp_Mitjana_Abril,Temp_Mitjana_Maig,Temp_Mitjana_Juny,Temp_Mitjana_Juliol,Temp_Mitjana_Agost,Temp_Mitjana_Setembre,Temp_Mitjana_Octubre,Temp_Mitjana_Novembre,Temp_Mitjana_Desembre
0,1780,6.7,7.3,11.6,11.4,16.3,19.1,21.4,22.0,20.3,16.3,9.2,7.3
1,1781,7.5,8.9,10.9,13.7,16.8,18.0,22.0,22.6,19.1,15.0,11.8,10.3
2,1782,8.2,6.1,9.8,10.5,15.4,20.1,22.3,22.6,19.9,13.8,7.4,7.5
3,1783,8.3,8.6,9.6,12.4,15.0,19.1,22.9,21.4,18.6,15.5,11.0,10.4
4,1784,7.3,7.1,10.8,10.7,16.7,20.7,22.0,20.5,20.0,13.8,8.5,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,2018,10.5,6.7,10.8,14.7,17.1,21.5,25.3,25.8,22.5,17.0,12.4,11.1
239,2019,8.1,11.9,13.5,13.4,15.6,21.9,25.4,25.1,21.8,18.5,11.9,11.2
240,2020,10.0,12.8,11.9,14.3,19.4,20.1,25.0,25.5,21.7,16.4,14.7,9.3
241,2021,7.7,11.6,12.1,12.9,17.3,23.3,24.8,24.5,23.0,18.1,11.3,10.9
242,2022,10.2,11.8,10.8,14.1,20.7,24.7,26.7,27.2,22.5,20.7,15.2,12.6

In [86]:
df_temp = df_temp.loc[df_temp['Any'] > 2017]

df_temp = df_temp.reset_index(drop=True)

df_temp = pd.melt(df_temp, id_vars=['Any'], var_name='Tipo_Temp', value_name='Temp_Media')

df_temp = df_temp.sort_values(by='Any')
df_temp = df_temp.reset_index(drop=True)

df_temp

     Any              Tipo_Temp  Temp_Media
0   2018     Temp_Mitjana_Gener        10.5
1   2018  Temp_Mitjana_Setembre        22.5
2   2018      Temp_Mitjana_Maig        17.1
3   2018    Temp_Mitjana_Juliol        25.3
4   2018     Temp_Mitjana_Abril        14.7
5   2018  Temp_Mitjana_Desembre        11.1
6   2018      Temp_Mitjana_Juny        21.5
7   2018      Temp_Mitjana_Marc        10.8
8   2018  Temp_Mitjana_Novembre        12.4
9   2018     Temp_Mitjana_Agost        25.8
10  2018    Temp_Mitjana_Febrer         6.7
11  2018   Temp_Mitjana_Octubre        17.0
12  2019  Temp_Mitjana_Desembre        11.2
13  2019  Temp_Mitjana_Setembre        21.8
14  2019     Temp_Mitjana_Gener         8.1
15  2019      Temp_Mitjana_Maig        15.6
16  2019  Temp_Mitjana_Novembre        11.9
17  2019     Temp_Mitjana_Agost        25.1
18  2019   Temp_Mitjana_Octubre        18.5
19  2019    Temp_Mitjana_Febrer        11.9
20  2019    Temp_Mitjana_Juliol        25.4
21  2019      Temp_Mitjana_Marc        13.5
22  2019     Temp_Mitjana_Abril        13.4
23  2019      Temp_Mitjana_Juny        21.9
24  2020  Temp_Mitjana_Novembre        14.7
25  2020    Temp_Mitjana_Juliol        25.0
26  2020      Temp_Mitjana_Juny        20.1
27  2020     Temp_Mitjana_Agost        25.5
28  2020      Temp_Mitjana_Maig        19.4
29  2020  Temp_Mitjana_Setembre        21.7
30  2020     Temp_Mitjana_Abril        14.3
31  2020      Temp_Mitjana_Marc        11.9
32  2020    Temp_Mitjana_Febrer        12.8
33  2020  Temp_Mitjana_Desembre         9.3
34  2020     Temp_Mitjana_Gener        10.0
35  2020   Temp_Mitjana_Octubre        16.4
36  2021     Temp_Mitjana_Agost        24.5
37  2021  Temp_Mitjana_Setembre        23.0
38  2021  Temp_Mitjana_Novembre        11.3
39  2021  Temp_Mitjana_Desembre        10.9
40  2021      Temp_Mitjana_Juny        23.3
41  2021      Temp_Mitjana_Maig        17.3
42  2021     Temp_Mitjana_Abril        12.9
43  2021      Temp_Mitjana_Marc        12.1
44  2021    Temp_Mitjana_Febrer        11.6
45  2021     Temp_Mitjana_Gener         7.7
46  2021    Temp_Mitjana_Juliol        24.8
47  2021   Temp_Mitjana_Octubre        18.1
48  2022  Temp_Mitjana_Novembre        15.2
49  2022      Temp_Mitjana_Juny        24.7
50  2022  Temp_Mitjana_Setembre        22.5
51  2022     Temp_Mitjana_Agost        27.2
52  2022    Temp_Mitjana_Juliol        26.7
53  2022      Temp_Mitjana_Maig        20.7
54  2022     Temp_Mitjana_Abril        14.1
55  2022      Temp_Mitjana_Marc        10.8
56  2022    Temp_Mitjana_Febrer        11.8
57  2022     Temp_Mitjana_Gener        10.2
58  2022   Temp_Mitjana_Octubre        20.7
59  2022  Temp_Mitjana_Desembre        12.6

In [87]:
tipo_temp_mapping = {
    'Temp_Mitjana_Gener': 1,
    'Temp_Mitjana_Febrer': 2,
    'Temp_Mitjana_Marc': 3,
    'Temp_Mitjana_Abril': 4,
    'Temp_Mitjana_Maig': 5,
    'Temp_Mitjana_Juny': 6,
    'Temp_Mitjana_Juliol': 7,
    'Temp_Mitjana_Agost': 8,
    'Temp_Mitjana_Setembre': 9,
    'Temp_Mitjana_Octubre': 10,
    'Temp_Mitjana_Novembre': 11,
    'Temp_Mitjana_Desembre': 12
}

df_temp['Mes'] = df_temp['Tipo_Temp'].map(tipo_temp_mapping)

df_temp.head(10)

    Any              Tipo_Temp  Temp_Media  Mes
0  2018     Temp_Mitjana_Gener        10.5    1
1  2018  Temp_Mitjana_Setembre        22.5    9
2  2018      Temp_Mitjana_Maig        17.1    5
3  2018    Temp_Mitjana_Juliol        25.3    7
4  2018     Temp_Mitjana_Abril        14.7    4
5  2018  Temp_Mitjana_Desembre        11.1   12
6  2018      Temp_Mitjana_Juny        21.5    6
7  2018      Temp_Mitjana_Marc        10.8    3
8  2018  Temp_Mitjana_Novembre        12.4   11
9  2018     Temp_Mitjana_Agost        25.8    8

In [89]:
df_temp = df_temp.sort_values(by=['Any', 'Mes'])

df_temp = df_temp.drop(columns='Tipo_Temp')

df_temp = df_temp.reset_index(drop=True)

df_temp = df_temp[['Any', 'Mes', 'Temp_Media']]

df_temp.head(10)

    Any  Mes  Temp_Media
0  2018    1        10.5
1  2018    2         6.7
2  2018    3        10.8
3  2018    4        14.7
4  2018    5        17.1
5  2018    6        21.5
6  2018    7        25.3
7  2018    8        25.8
8  2018    9        22.5
9  2018   10        17.0

In [90]:
df_pt = pd.merge(df_prec, df_temp, on=['Any', 'Mes'])

df_pt

     Any  Mes  Precip_acum  Temp_Media
0   2018    1         63.6        10.5
1   2018    2        104.6         6.7
2   2018    3        112.5        10.8
3   2018    4         83.0        14.7
4   2018    5         30.3        17.1
5   2018    6         53.1        21.5
6   2018    7         51.5        25.3
7   2018    8         36.5        25.8
8   2018    9         44.4        22.5
9   2018   10        201.9        17.0
10  2018   11        201.8        12.4
11  2018   12          4.8        11.1
12  2019    1         18.2         8.1
13  2019    2          4.6        11.9
14  2019    3          0.3        13.5
15  2019    4         36.2        13.4
16  2019    5        109.0        15.6
17  2019    6         19.3        21.9
18  2019    7         75.8        25.4
19  2019    8         23.1        25.1
20  2019    9         71.5        21.8
21  2019   10         83.2        18.5
22  2019   11         39.4        11.9
23  2019   12        119.2        11.2
24  2020    1         89.3        10.0
25  2020    2          2.8        12.8
26  2020    3         61.6        11.9
27  2020    4        258.7        14.3
28  2020    5         29.2        19.4
29  2020    6         69.1        20.1
30  2020    7         23.1        25.0
31  2020    8         12.4        25.5
32  2020    9         60.2        21.7
33  2020   10         23.1        16.4
34  2020   11         52.5        14.7
35  2020   12         41.5         9.3
36  2021    1         26.2         7.7
37  2021    2         26.5        11.6
38  2021    3          7.7        12.1
39  2021    4         62.7        12.9
40  2021    5         13.4        17.3
41  2021    6          7.8        23.3
42  2021    7          9.0        24.8
43  2021    8          8.3        24.5
44  2021    9         23.3        23.0
45  2021   10         63.2        18.1
46  2021   11         75.9        11.3
47  2021   12          3.8        10.9
48  2022    1         12.3        10.2
49  2022    2          1.9        11.8
50  2022    3         89.5        10.8
51  2022    4         38.9        14.1
52  2022    5         20.0        20.7
53  2022    6          9.5        24.7
54  2022    7          2.7        26.7
55  2022    8         67.9        27.2
56  2022    9         13.1        22.5
57  2022   10         11.3        20.7
58  2022   11          7.6        15.2
59  2022   12         33.0        12.6

In [91]:
df_archivo = "bcn_pre_tem_18_23.csv"
df_pt.to_csv(df_archivo, index=False)